@import "../../styles/base";

.ImageBox {
  margin: 8px 12px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  .ContentBox {
    position: absolute;
    top: 39px;
    left: 15px;
    font-size: 46px;
    font-weight: 600;
    color: rgb(25, 150, 236);
  }
}

.ImgStyle {
  width: 100%;
  display: block;
}
